caption {
    caption-side: bottom;
}

table {

    border-collapse: collapse;
}

tbody>tr {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #f2f2f2;
}

tbody>tr>td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

tbody>tr:nth-child(even) {
    background-color: #c2c2c2;
}

thead {
    background-color: black;
    color: white;
    border: none;
}

thead>tr:nth-child(2)>th:not(:first-child) {
    background-color: grey;
}