/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #5D707D;
    --secondary-color: #00A0DF;
    --accent-color: #FFCD00;

    /* change the values below to your chosen font(s) */
    --heading-font: Alegreya, serif;
    --paragraph-font: Merriweather, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(--secondary-color);
    /* headlines on a white background */
    --headline-color-on-color: white;
    /* headlines on a colored background */
    --paragraph-color-on-white: black;
    /* paragraph text on a white background */
    --paragraph-color-on-color: white;
    /* paragraph text on a colored background */
    --paragraph-background-color: var(--secondary-color);
}




#hero-image {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-gap: 15px;
}

#hero-image>img {
    grid-column: 1/4;
    grid-row: 1/4;
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

#button-1 {
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 10px
}

#button-2 {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 10px
}

#button-3 {
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 10px
}



nav {
    display: grid;
    grid-template-columns: 100px auto;
    background-color: var(--secondary-color);
    max-width: 960px;
    margin: 0 auto;
    gap: 25px;
    padding: 10px;
    font-family: 'Yeon Sung', cursive;
}

nav img {
    height: 80px;
}

.menu {
    width: 100%;
    display: none;
}

.menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#menu-button {
    display: grid;
    grid-template-rows: 3px 3px 3px;
    grid-gap: 5px;
    background-color: var(--secondary-color);
    border: none;
    justify-content: end;
    cursor: pointer;
}


#menu-button div {
    background-color: var(--primary-color);
    width: 30px;
    height: 3px;
    transition: all 1s;
    transform-origin: center;
}

#menu-button[aria-expanded="true"] div:nth-child(1) {
    transform: translate(0px, 8px) rotate(45deg);
}

#menu-button[aria-expanded="true"] div:nth-child(2) {
    opacity: 0%;
}

#menu-button[aria-expanded="true"] div:nth-child(3) {
    transform: translate(0px, -8px) rotate(-45deg);
}

footer {
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--accent-color);
}

footer>p {
    padding: 10px 10px;
    margin: 0;
}

#welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding: 15px;
    border: #5D707D 2px solid;
}

#welcome>div:nth-child(1) {
    grid-column: 1/3;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2em;
    color: var(--primary-color);
}

#welcome>div:nth-child(2) {
    grid-column: 1/3;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2em;
    color: var(--primary-color);
}

#welcome>div>img {
    width: -webkit-fill-available;
}



#events {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 15px;
    padding: 15px;
    border: #5D707D 2px solid;
}

#events>h3 {
    grid-row: 1/2;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2em;
    color: var(--primary-color);
}

#events>ul>li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}




#sponsors {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 15px;
    padding: 15px;
    border: #5D707D 2px solid;
}

#sponsors>h3 {
    grid-row: 1/2;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2em;
    color: var(--primary-color);
}

.sponsor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: scroll;
}

#home {
    display: grid;
    grid-template-rows: auto;
    max-width: 960px;
    margin: 0 auto;
    grid-gap: 15px;
}

#discover {
    display: grid;
    grid-template-columns: auto;
    max-width: 960px;
    margin: 0 auto;
    grid-gap: 15px;
}

#discover>.title {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2em;
    color: var(--primary-color);
}


#discover>#views>.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    place-items: center;
}

#discover>.container>figure {
    background-color: #fff;
}

#discover>#views>.container>figure>img {
    width: 250px;
    height: auto;
    margin: auto;
}

/* hover effect */
.hover:hover {
    box-shadow: 0 0 50px #333;
}



/* form */

#join {

    display: grid;
    grid-template-rows: auto;
    max-width: 960px;
    margin: 0 auto;
    gap: 25px;
    padding: 10px;
    font-family: 'Yeon Sung', cursive;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 0.5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input,
form label.top select,
form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0.75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;

}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: #fff;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/* direcotry */

#directory {
    max-width: 960px;
    margin: 0 auto;
}

#members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 960px;
    margin: 0 auto;
    grid-gap: 15px;
    padding-bottom: 20px;
}



.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 200px;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card>img {
    max-width: 150px;
    height: auto;
    padding: 10px;
}

#radio-cards::before {
    content: "<div>sel</div>";
    display: block;
    padding-top: 100%;
}

/* Add some padding inside the card container */
.member-container {
    padding: 2px 16px;
}