@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

:root {
    --primary-color: #B9EFDE;
    --form-valid: green;
    --form-invalid: #9c2c13;
}


body {
    padding: 0;
    margin: 0;
    color: black;
}

body.dark-mode {
    background-color: #1E1E1E;
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    stroke: white;
    gap: 25px;
    padding: 10px;
    font-family: 'Yeon Sung', cursive;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    text-decoration: underline;

}

.menu-item {
    display: none;
}

.open {
    display: block;
}

.menu-button::before {
    content: "≡";
    font-size: 2rem;
}

.close::before {
    content: "↩";
}

#mode::before {
    content: "☀";
}

#mode.dark-mode::before {
    content: "☾";
}


header {
    padding: 0.5rem;
    background-color: var(--primary-color);
}

header img {
    width: 125px;
    height: auto;
    padding: 12px 11px;
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    z-index: 1;
}

header h1 {
    padding-left: 175px;
}

.page {

    max-width: 960px;
    position: relative;
    margin: 0 auto;
    padding: 0.25rem;
}


main {
    display: grid;
    grid-template-areas:
        "hero"
        "title"
        "activity"
        "project"
        "info"
        "map"
        "form"
    ;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;
    gap: 10px;
    max-width: 960px;
    padding: 0;
    margin: 0;
}



.hero {
    grid-area: hero;
    width: 100%;
    position: relative;

    border: 1px solid rgba(0, 0, 0, .1);
    height: 300px;
}

.hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: radial-gradient(#fff, #535354);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 0.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    /* Buenas */
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 2rem;
    font-family: "Great Vibes", serif;
}


section {
    box-shadow: cadetblue 0px 0px 10px 0px;
    border-radius: 10px;
}

section>h3 {
    background: var(--primary-color);
    border-radius: 10px 10px 0px 0px;
    margin-top: 0;
    padding: 10px;
}


.title {
    grid-area: title;
    border-bottom: black 1px solid;
}

.activities {

    grid-area: activity;
}

.project {
    grid-area: project;
}

.project>div {
    padding: 10px;
}

.info {
    grid-area: info;
}

.map {
    display: flex;
    grid-area: map;
}

footer {
    background: var(--primary-color);
    color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Yeon Sung', cursive;
}



form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 0.5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input,
form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0.75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;

}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: #fff;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: var(--form-invalid) solid 6px;
}

form label.top input:required:valid {
    border-left: var(--form-valid) solid 6px;
}

.form {
    grid-area: form;
}

#range {
    padding: 0;
}

.submitbtn {
    border: none;
    background-color: #9c2c13;
    color: #fff;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form:valid input.submitbtn {
    background-color: var(--form-valid);
}

form:invalid input.submitbtn {
    background-color: var(--form-invalid);
}


.hidden {
    display: none;
}

table {

    border-collapse: collapse;
}

tbody>tr {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #f2f2f2;
}

tbody>tr>td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

tbody>tr:nth-child(even) {
    background-color: #c2c2c2;
}

thead {
    background-color: black;
    color: white;
    border: none;
}

thead>tr:nth-child(2)>th:not(:first-child) {
    background-color: grey;
}

caption {
    caption-side: bottom;
}