@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

body {
    padding: 0px;
    margin: 0px;
    color: black;
}

body.dark-mode {
    background-color: #1E1E1E;
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    stroke: white;
    gap: 25px;
    padding: 10px;
    font-family: 'Yeon Sung', cursive;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    text-decoration: underline;

}

.menu-item {
    display: none;
}

.open {
    display: block;
}

.menu-button::before {
    content: "≡";
    font-size: 2rem;
}

.close::before {
    content: "↩";
}

#mode::before {
    content: "☀";
}

#mode.dark-mode::before {
    content: "☾";
}


header {
    display: flex;
    background-color: #B9EFDE;
}

header>img {
    padding-left: 10px;
}

header>h1 {
    padding-left: 2rem;
}


main {
    display: grid;
    grid-template-areas:
        "hero"
        "title"
        "activity"
        "project"
        "info"
        "map"
    ;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;
    gap: 10px;
    max-width: 960px;
    padding: 0px;
    margin: 0px;
}


.hero {
    grid-area: hero;
    width: 100%;
    position: relative;

    border: 1px solid rgba(0, 0, 0, .1);
    height: 300px;
}

.hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: radial-gradient(#fff, #535354);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 0.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    /* Buenas */
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 2rem;
    font-family: "Great Vibes", serif;
}


section {
    box-shadow: cadetblue 0px 0px 10px 0px;
    border-radius: 10px;
}

section>h3 {
    background: #B9EFDE;
    border-radius: 10px 10px 0px 0px;
    margin-top: 0px;
    padding: 10px;
}


.title {
    grid-area: title;
    border-bottom: black 1px solid;
}

.activities {

    grid-area: activity;
}

.project {
    grid-area: project;
}

.project>div {
    padding: 10px;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

footer {
    background: #B9EFDE;
    color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Yeon Sung', cursive;
}