@media only screen and (min-width: 600px) {

    main {

        display: grid;
        grid-template-areas:
            "hero hero"
            "title title"
            "activity project"
            "activity info"
            "map map"
        ;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        max-width: 960px;
        margin: auto;
    }

    nav {
        flex-direction: row-reverse;
        justify-content: end;
        gap: 10px;
    }

    .menu-item {
        display: flex;

    }

    .menu-button {
        display: none;
    }

}